@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  :hover {
    color: $white;
    text-decoration: none;
  }
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $white;
  color: $gray;
  a {
    color: $gray5;
  }

  a:hover {
    color: $black;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  }

  ul li {
    float: left;
    margin-left: 15px;
  }
}
